<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamInviteSpamFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <SteamInviteSpamFilter.Properties.Settings>
            <setting name="sessionid" serializeAs="String">
                <value />
            </setting>
            <setting name="steamLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="myProfileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="steamparental" serializeAs="String">
                <value />
            </setting>
            <setting name="startMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="myProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ignoreLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="blockInstead" serializeAs="String">
                <value>ignore</value>
            </setting>
        </SteamInviteSpamFilter.Properties.Settings>
    </userSettings>
</configuration>
